
<nav class="navbar navbar-expand-lg navbar-light bg-primary">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="assets/sarahLogo.png" width="50" height="50" alt="">
      GSSS Sarah</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item ">
          <a mat-button   routerLink ='/'>Home</a>

        </li>
        <li class="nav-item">
          <a mat-button   routerLink ='/activity'>Activity</a>
        </li>
        <li class="nav-item">
          <a mat-button  routerLinkActive="mat-accent" routerLink ='/gallery'>Gallery</a>
        </li>

        <li class="nav-item">
          <a mat-button  routerLinkActive="mat-accent" routerLink ='/contact'>Contact Us</a>
        </li>
      </ul>
      <form >
      <ul class="d-flex">
        <li *ngIf="!userIsAuthenticated">
          <a mat-button  routerLink ="/auth/login" routerLinkActive ="mat-accent">Login</a>
        </li>

        <li *ngIf="!userIsAuthenticated">
          <a mat-button  routerLink ="/auth/signup" routerLinkActive ="mat-accent">Signup</a>
        </li>

        <li *ngIf="userIsAuthenticated">
          <button color="primary" mat-button (click)="onLogout()">Logout</button>
        </li>
      </ul>
      </form>
    </div>
  </div>
</nav>

  <!-- <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">
      <img src="assets/sarahLogo.png" width="50" height="50" alt="">
      GSSS Sarah</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item ">
          <a mat-button   routerLink ='/'>Home</a>

        </li>
        <li class="nav-item">
          <a mat-button   routerLink ='/activity'>Activity</a>
        </li>
        <li class="nav-item">
          <a mat-button  routerLinkActive="mat-accent" routerLink ='/gallery'>Gallery</a>
        </li>

        <li class="nav-item">
          <a mat-button  routerLinkActive="mat-accent" routerLink ='/contact'>Contact Us</a>
        </li>

      </ul>

      <ul>

        <li *ngIf="userIsAuthenticated">
          <a mat-button routerLink ="/create" routerLinkActive ="mat-accent">Create Message</a>
        </li>




      </ul>
    </div>

  </nav> -->




