
.top-buffer { margin-top:20px; }

mat-spinner {
  margin: auto;
}

mat-card {

    max-width: 800px;

    margin: 10em auto;

    text-align: center;

  }

  mat-form-field {

    display: block;

  }
